/*Estilos Generales*/
body{
    font-family: 'Roboto';
}

.o-img-container{
    width: 20rem;
}

.o-buttons-container {
    width: 20rem;
    display: flex;
    justify-content: center;
}

.o-button {
    margin: 0.5rem;
    width: 9rem;
    height: 3rem;
    border-radius: 2rem;
    background: white;
    border: 1px solid #9E0B0C;
    color: #9E0B0C;
    font-size: 1rem;
}

.o-button-call-to-action{
    background: #9E0B0C;
    color: #ffffff;
}

.o-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
}
.o-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.o-title{
    font-size: 3rem;
    margin-bottom: 0;
    text-align: center;
}
.container-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #DEDEDE;
}
.texto-body{
    width: 50%;
    padding: 3.0rem;
}
.imagen-body{
    width: 50%;
}

.o-mobile-nav{
    display: none;
}

@media screen and (max-width: 768px){
    .o-buttons-container{
        display: block;
    }
    .o-links-container{
        display: block;
    }
    .o-mobile-nav{
        display: none;
    }
    
}

@media screen and (max-width: 1044px){
    .o-buttons-container{
        display: none;
    }
    .o-links-container{
        display: none;
    }
    .o-mobile-nav{
        display: block;
    }
}

